body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: auto;
    background: rgb(209, 136, 136);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #443f3f;
}
input, button {
    padding: 10px;
    margin: 10px;
    width: 90%;
}
.weather-info {
    margin-top: 20px;
}